body {
  margin: 0;
  font-family: 'BLOKK', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'BLOKK';
  src: url('https://storage.googleapis.com/atoms-sandbox.google.com.a.appspot.com/blokk/BLOKKNeue-Regular.eot');
  src: url('https://storage.googleapis.com/atoms-sandbox.google.com.a.appspot.com/blokk/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'),
       url('https://storage.googleapis.com/atoms-sandbox.google.com.a.appspot.com/blokk/BLOKKNeue-Regular.woff2') format('woff2'),
       url('https://storage.googleapis.com/atoms-sandbox.google.com.a.appspot.com/blokk/BLOKKNeue-Regular.woff') format('woff'),
       url('https://storage.googleapis.com/atoms-sandbox.google.com.a.appspot.com/blokk/BLOKKNeue-Regular.otf') format('opentype'),
       url('https://storage.googleapis.com/atoms-sandbox.google.com.a.appspot.com/blokk/BLOKKNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}